[submodule "Github/qt-material-widgets"]
	path = Github/qt-material-widgets
	url = https://github.com/ccwanggl/qt-material-widgets.git
[submodule "Github/qtkaifajingyan"]
	path = Github/qtkaifajingyan
	url = https://gitee.com/ccwangguoliang/qtkaifajingyan.git
[submodule "Github/qt-widget-demo"]
	path = Github/qt-widget-demo
	url = https://github.com/ccwanggl/QWidgetDemo.git
